@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus {
  outline: none;
}

.btn-hover-mv-left {
  transition: 400ms transform ease-in-out;
}

.btn-hover-mv-left:hover {
  transform: translate( 3em, 0 );
}
